$addBtn: #ba7ba1;

@mixin bgHover($color: $addBtn) {
	background-color: $color;
	border: 1px solid $color;

	&:hover {
		background-color: lighten($color,15%);
		border: 1px solid lighten($color,15%);
	}
}

::-webkit-scrollbar {
	background-color: rgba(white, 0);
	width: 5px;

  &-thumb {
    background: rgba(gray, 0.5);
    border-radius: 3px;
    margin-right: 4px;

    &:hover {
      background: rgba(gray,.7);
    }
  }
}

* {
	box-sizing: border-box;
}

body {
	font-family: Arial, '微軟正黑體', sans-serif;
	margin: 0;
	background: linear-gradient(30deg, #d0aba0, #edcf8e);
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

section {
	margin: 50px auto;
	background-color: white;
	border-radius: 10px;
	padding: 20px 16px 20px 20px;
	box-shadow: 0 0 10px #ba7ba1;
	max-height: calc(100vh - 50px);
	width: 30vw;
	min-width: 350px;
  min-height: 120px;
  overflow-y: auto;
}

h2 {
	margin-top: 0;
}

input, button {
	border-radius: 10px;
	outline: none;
	transition: all .3s ease;
}

input {
	border: 1px solid $addBtn;
	color: #445E93;
}

button {
	color: white;
	@include bgHover;
	cursor: pointer;

	&.edit, &.done {
		@include bgHover(#21A179);
	}

	&.del {
		@include bgHover(#DF5F5F);
	}

	&.edit {
		&:before {
			content: 'EDIT';
		}
	}

	&.done {
		&:before {
			content: 'DONE';
		}
	}

	&.del {
		&:before {
			content: 'DEL';
		}
	}
}

.form-group {
	input, button {
		font-size: 16px;
		padding: 8px 12px;
		display: inline-block;
	}

	input {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		width: calc(100% - 40px);
	}

	button {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		transform: translateX(-6px);
	}
}

#myList {
	list-style-type: none;
	padding-left: 0;
	padding-right: 6px;
	max-height: calc(100vh - 400px);
	overflow-y: auto;

	li {
		height: 48px;
		padding: 8px 4px;
		border-bottom: 1px dashed #7180AC;
		display: flex;
		align-items: center;
		justify-content: space-around;

		label, span, input {
			flex: 3;
		}

		.hasDone {
			text-decoration: line-through;
		}

		input {
			max-width: calc(100% - 150px);

			&:focus {
				border-color: #CD5334 !important;
			}
		}

		button {
			flex: 1;
			margin: 0 4px;
			padding: 4px;
		}
	}

	input {
		font-size: 16px;
		padding: 4px 6px;
		margin-right: 8px;
	}
}

#clearBtn {
	width: 100%;
	text-align: center;
	margin-top: 30px;

	button {
		font-size: 16px;
		padding: 4px 8px;
		@include bgHover($addBtn);
	}
}